.article {
	display: flex;
	align-items: center;
	justify-content: center;
	&__home {
		.slide {
			&__container {
				position: absolute;
				height: 100%;
				width: 100%;
				overflow: hidden;
			}
		}
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__interrior {
		background-color: #ccc;
	}
}
