@use "./styles/_package.scss" as *;

html {
	font-family: Roboto, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}
html,
body,
#root {
	min-height: 100%;
	height: 100%;
}
body {
	min-width: 1300px;
	background: #111;
}
#root {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

header,
footer,
article {
	width: 100%;
	position: relative;
}
header,
footer {
	background-image: url(/assets/img/backgrounds/background-bar.png);
	position: relative;
	z-index: 2;
}
article {
	min-height: calc(100% - 8rem);
}
header {
	height: 5rem;
}
footer {
	height: 3rem;
}
.customScroll {
	overflow-y: auto;
	&::-webkit-scrollbar {
		width: 14px;
	}

	&::-webkit-scrollbar-thumb {
		border: 4px solid rgba(0, 0, 0, 0);
		background-clip: padding-box;
		border-radius: 9999px;
		background-color: #999;
	}
}
.error {
	input,
	textarea {
		border: 2px solid red;
		em {
			opacity: 1;
		}
	}
}
